/
  'data-ajax' => false
%div.d-none#current-segment{ "data-current-segment" => @segment.id }
= form_for [@segment, (@segment_message && @segment_message.new_record? ? @segment_message : SegmentMessage.new)], html: { class: "row h-75", id: "segment_message_form" }, remote: true, authenticity_token: true do |f|
  .col-12
    = f.label "Mensaje", for: "step-one-textarea"
  .col-12.mb-2
    = f.text_area :message, class: "form-control w-100", id: "step-one-textarea"
  .col-12
    .row.justify-content-end
      .col-md-3.col-12
        = f.label :photo_evidence, id: "evidence-label", class: "btn btn-secondary w-100", for: "fileupload-evidence" do
          = t(:evidence)
          = fa_icon("camera")
        = f.file_field :photo_evidence, accept: "image/*;cpature=camera", class: "d-none", id: "fileupload-evidence"
      .col-md-3.col-12 
        = f.submit t(:save), class: "btn btn-primary align-self-end w-100"
