= form_for @step_two || @prep_process_machine.current_step, html: { class: "row prep-form" }, remote: true do |f|
  #male-counter-icon.text-center.col-12.col-md-6.mb-5
    .row
      .col-4
        %span#increase-male.btn.btn-outline-success= fa_icon('plus-circle')
      .col-4
        %h3.text-info.d-innline-block= "Hombres"
        %h1.text-info.d-inline-block= fa_icon('mars')
        #male-counter.text-center
          = f.number_field :males, id: "male-count-input", min: 0, max: 99999
      .col-4
        %span#decrease-male.btn.btn-outline-success= fa_icon('minus-circle')



  #female-counter-icon.text-center.col-12.col-md-6.mb-5
    .row
      .col-4
        %span#increase-female.btn.btn-outline-success= fa_icon('plus-circle')
      .col-4
        %h3.text-info.d-innline-block= "Mujeres"
        %h1.text-info.d-inline-block= fa_icon('venus')
        #female-counter.text-center
          = f.number_field :females, id: "female-count-input", min: 0, max: 99999
      .col-4
        %span#decrease-female.btn.btn-outline-success= fa_icon('minus-circle')

  .col-12.text-center.p-3
    = f.submit t(:save), class: 'btn btn-primary'
