= form_for [@segment, (@prep_step_four || @prep_process_machine.current_step)], html: { class: "row align-items-center prep-form" }, remote: true do |f|
  .col-12.mb-4
    .row
      .col-12
        %h4.text-weight-bold.mt-4
          = f.label :null_votes, class: "text-danger" do
            = fa_icon "ban"
            Votos nulos
            

      .col-12.col-md-4
        = f.number_field :null_votes, min: 0, max: 999999, class: "w-100 d-inline h-100"
      .col
      .col-12.col-md-4
        = f.submit t(:save), class: "btn btn-primary w-100 mt-3"

  - @political_candidacies_loader.candidacies.uniq.each do |candidacy|
    .col-12
      .row
        .col-12
        - @political_candidacies_loader.filter_by_candidacy(candidacy).each do |political_candidacy|
          .col-12.col-sm-6.col-md-6.col-lg-4.h-100.mb-3{ "data-id" => political_candidacy.id }
            .card.p-1
              .card-header
                = candidacy.name
              - if political_candidacy.candidate.political_party.coalition?
                = image_tag "#{political_candidacy.candidate.political_party.name.gsub("/", "|")}100px.png", class: "card-img-top"
              - else
                = image_tag "#{political_candidacy.candidate.main_political_party.name.upcase}100px.png", class: "card-img-top"
              .card-body
                %h5.card-title= political_candidacy.candidate.political_party.name
                %p.card-text= political_candidacy.candidate.name

                - if political_candidacy.candidate.political_party.coalition?
                  - political_candidacy.candidate.political_party.all_political_parties.each do |ppp|
                    = f.fields_for :votes, (f.object.votes.where(political_candidacy: political_candidacy, political_party: ppp).first || Vote.new) do |vote_f|
                      .row.pt-2.pb-2
                        - if ppp.coalition?
                          .col-12.text-center.font-weight-bold
                            Indeciso
                        = vote_f.hidden_field :id, value: vote_f.object.id if !vote_f.object.new_record?
                        = vote_f.hidden_field :political_party_id, id: "political-party-field", value: ppp.id
                        = vote_f.hidden_field :political_candidacy_id, id: "political-candidacy-field", value: political_candidacy.id
                        .col
                        .col-4
                          - if ppp.coalition?
                            = image_tag "#{ppp.name.gsub("/", "|")}100px.png", class: "card-img-top"
                          - else
                            = image_tag "#{ppp.name.upcase}100px.png", class: "card-img-top"
                        .col
                      .row
                        .col-12.political-candidacy-counter
                          .row.h-100.align-items-center
                            .col-3.text-center
                              = link_to "#", class: "btn btn-secondary decrease-votes by-1 pl-3 pr-3 pt-1 pb-1" do
                                = fa_icon "minus-circle"
                              = link_to "#", class: "btn btn-secondary decrease-votes by-100 mt-1 p-2" do
                                = fa_icon "minus-circle"
                                = fa_icon "minus-circle"
                            .col-6
                              %h4.text-primary.text-center.vote-counter
                                = vote_f.object.votes_count
                            .col-3.text-center
                              = link_to "#", class: "btn btn-primary increase-votes by-1 pl-3 pr-3 pt-1 pb-1" do
                                = fa_icon "plus-circle"
                              = link_to "#", class: "btn btn-primary increase-votes by-100 mt-1 p-2" do
                                = fa_icon "plus-circle"
                                = fa_icon "plus-circle"
                                
                          = vote_f.hidden_field :votes_count, class: "votes-field"
                      .separator
                          
                          

                - else
                  = f.fields_for :votes, (f.object.votes.where(political_candidacy: political_candidacy, political_party: political_candidacy.political_party).first || Vote.new) do |vote_f|
                    .row
                      = vote_f.hidden_field :id, value: vote_f.object.id if !vote_f.object.new_record?
                      = vote_f.hidden_field :political_party_id, id: "political-party-field", value: political_candidacy.candidate.political_party.id
                      = vote_f.hidden_field :political_candidacy_id, id: "political-candidacy-field", value: political_candidacy.id
                      .col-12.political-candidacy-counter
                        .row
                          .col-3.align-content-center
                            = link_to "#", class: "btn btn-secondary decrease-votes by-1 pl-3 pr-3 pt-1 pb-1" do
                              = fa_icon "minus-circle"
                            = link_to "#", class: "btn btn-secondary decrease-votes by-100 mt-1 p-2" do
                              = fa_icon "minus-circle"
                              = fa_icon "minus-circle"
                          .col-6.align-content-center
                            %h4.text-primary.text-center.vote-counter
                              = vote_f.object.votes_count
                          .col-3.align-content-center
                            = link_to "#", class: "btn btn-primary increase-votes by-1 pl-3 pr-3 pt-1 pb-1" do
                              = fa_icon "plus-circle"
                            = link_to "#", class: "btn btn-primary increase-votes by-100 mt-1 p-2" do
                              = fa_icon "plus-circle"
                              = fa_icon "plus-circle"
                        = vote_f.hidden_field :votes_count, class: "votes-field"
    .col-12.separator
  .col
  .col-12.col-sm-8.col-md-4.col-lg-3.mb-3 
    = f.submit t(:save), class: "btn btn-primary w-100"
