#login-wrapper.d-flex.align-items-center.justify-content-center
  #login-box
    = form_for resource, as: resource_name, url: session_path(resource_name), class: "" do |f|
      #login-box-header.d-flex.align-items-end
        .p-3
          %h2#login-box-header-text= t(:log_in_title)
      #login-box-body.d-flex.flex-column
        .d-flex.flex-column
        
          .field.p-3
            = f.text_field :login, autofocus: true, placeholder: t(:email_or_username)
          .field.p-3
            = f.password_field :password, autocomplete: "off", placeholder: t(:password)

          -if devise_mapping.rememberable?
            .field.p-3
              %label.custom-checkbox-container
                = t(:remember_me)
                = check_box_tag("user[remember_me]", f.object.remember_me, f.object.remember_me)
                %span.checkmark

          = render "users/shared/links"

      = button_tag id: "submit-login-btn", type: "submit" do
        %span= t(:log_in_button)
        = fa_icon("sign-in")
