.user-message.row{ class: message.user == current_user ? "justify-content-end" : "" }
  .col-auto.pl-4.pr-4
    .card
      .card-body
        .media
          - if message.user != current_user
            = image_tag "user.gif", class: "rounded-circle chat-image-avatar mr-2 align-self-start", alt: "Generic placeholder image"
          .media-body
            %h5.mt-0.mb-1= message.user == current_user ? "Tú" : message.user.full_name
            = message.message
            .row.justify-content-end
              - message.evidences.each_with_index do |evidence, index|
                .col-auto
                  = link_to evidence.file.url, "data-lightbox" => (evidence.file.file.original_filename + index.to_s), "data-title" => (evidence.file.file.original_filename + index.to_s) do
                    = image_tag evidence.file.url, class: "img-fluid img-thumbnail chat-image"
          - if message.user == current_user
            = image_tag "user.gif", class: "rounded-circle chat-image-avatar ml-2 align-self-start", alt: "Generic placeholder image"
