.segment-message-resume-list-item.p-2.pb-3{ "data-segment-message-id" => segment_message.id  }
  .row.mb-0.mt-0
    .col-auto
      = image_tag "user.gif", class: "rounded-circle chat-image-avatar"
    .col
      .chat-item-time.text-muted.d-inline.position-absolute= segment_message.created_at.strftime("%H:%M %P")
      .row
        .message-resume-title.col-12
          %h5.d-inline= segment_message.user.full_name
        .message-resume-body.col-12
          .pl-2.pr-2.text-muted
            = segment_message.message
            - if segment_message.evidences.count > 0
              = fa_icon("paperclip", class: "text-warning")
            
                  
        / 
          .col-auto
            .row
              .col-6.col-md-4
                .row.h-100.align-items-center
                  .col-6#user-chat.text-center
                    = fa_icon("user", class: "bg-primary chat-selector")
                  .col-6#segment-chat.text-center
                    = fa_icon("users", class: "bg-info chat-selector")