.container
  .form-group
    = form_for @user do |f|
      .well
        = f.label t(:name)
        %br/
        = f.text_field :name
        %br/
        = f.label t(:father_last_name)
        %br/
        = f.text_field :father_last_name
        %br/
        = f.label t(:mother_last_name)
        %br/
        = f.text_field :mother_last_name
        %br/
        = f.label t(:email)
        %br/
        = f.text_field :email
        %br/
        = f.label t(:password)
        %br/
        = f.text_field :password
        %br/
        = f.label t(:password_confirmation)
        %br/
        = f.text_field :password_confirmation
        %br/
        = f.label t(:status)
        %br/
        = f.label t(:actions)
        %br/
        .btn.btn-primary
          = f.submit t(:save)
