#users-index
  #users-index-actions.row.no-gutters
    = search_form_for @q, url: users_search_url, class: "col-8 col-md-10 col-lg-11 users-search-form" do |f|
      .input-group
        = f.search_field(:deleted_at_null, hidden: true)
        = f.search_field(:deleted_at_not_null, hidden: true)
        = f.search_field(:name_or_father_last_name_or_mother_last_name_or_username_or_email_cont, class: "form-control", placeholder: t(:search), type: "text" )
        = button_tag class: 'btn btn-outline-secondary' do
          = fa_icon "search"
        .clearfix

    %a#action-dropdown-btn.btn.btn-primary.dropdown-toggle.col{ href: "#", "data-toggle" => "dropdown", aria: { expanded: false, haspopup: true } }
      = t(:actions)

    .dropdown-menu.table-dropdown-menu{ "aria-labelledby" => "dropdownMenuLink" }
      //TODO verify this link_to
      - if @segment
        = link_to segment_path(@segment), class: "btn-green-dropdown-item btn-green" do
          = fa_icon('undo')
          Regresar
        = link_to new_transfer_user_path, class: "btn-green-dropdown-item btn-green" do
          = fa_icon('exchange')
          Transferir Usuarios
        = link_to new_segment_users_import_path(@segment), class: "btn-green-dropdown-item btn-green" do
          = fa_icon("upload")
          Importar Usuarios

      = link_to "#", class: "btn-green-dropdown-item btn-green batch-action-btn d-none", data: { action: "delete" } do
        = fa_icon(:trash)
        = t(:delete)

      = link_to new_user_link_url, class: "btn-green-dropdown-item btn-green single-action-btn", data: { action: "delete" }, remote: true do
        = fa_icon(:plus)
        = t(:new_user)

  #users-index-content.container-fluid
    .row
      #users-list.col-12.col-md-4.d-md-block.resource-list{ class: @user ? "d-none" : "" }
        #users-filters.row
          = link_to t(:active), users_index_filter_path({ deleted_at_null: 1 }, :deleted_at_not_null), class: "col-6 btn #{filter_active?(:deleted_at_null, [1, true]) ? 'btn-outline-success active-filter' : ''}"
          = link_to t(:inactive), users_index_filter_path({ deleted_at_not_null: 1 }, :deleted_at_null), class: "col-6 btn #{filter_active?(:deleted_at_not_null, [1, true]) ? 'btn-outline-success active-filter' : ''}"
        #users-pool.row
          = render @users

      #user-info.col-12.col-md-8.d-md-block.resource-info{ class: @user ? "" : "d-none" }
        - if @user
          = render "index_form"
        - else
          .row.align-items-center.h-100
            .col
              %h1.text-center= t(:select_one_or_more_elements)
