.btn.btn-default
  = link_to "Nuevo Usuario", new_user_path
  %br
.container
  .row
    %table.index-table
      %thead.head-table
        %tr
          %th Registro
          %th Nombre(s)
          %th Apellido paterno
          %th Apellido materno
          %th E-mail
          %th Estatus
          %th Acciones
      %tbody.tbody-border
        - @user.each do |user|
          %tr
            %td= user.id
            %td= user.names
            %td= user.father_last_name
            %td= user.mother_last_name
            %td= user.email
            %td activo
            %td acciones
            %td
              = link_to 'Ver', user_path(user)
              = link_to 'Editar', edit_user_path(user)
              = link_to 'Borrar', user_path(user), |
                method: :delete,                   |
                data: { confirm: '¿Eliminar?'}     |
