#users-index.container-fluid
  #users-index-actions.row
    .col-md-12
      .p-2
        poner input de busqueda aquí
  #users-index-content.row
    #users-list.col-12.col-md-4.d-md-block{ class: @user ? "d-none" : "" }
      .row#pagination

      - @users.each do |user|
        = link_to edit_user_path(user), class: "users-list-row row #{@user == user ? 'active' : '' }", data: { "user-id": user.id }, remote: true do
          .col-3.image-wrapper
            = image_tag "user.gif", alt: "AB", class: "rounded-circle"
          .col-9
            .row
              .col-md-12
                %strong= user.username
                - if user.access_locked?
                  %span.badge.badge-pill.badge-danger= t(:locked)
              .col-md-12
                .font-italic= user.email

      
    #user-info.col-12.col-md-8.d-md-block{ class: @user ? "" : "d-none" }
      - if @user
        = render "index_form"
