.btn.btn-default
  = link_to t(:new_user), new_user_path
  %br
.container
  .row
    %table.index-table
      %thead.head-table
        %tr
          %th= t(:registration)
          %th= t(:name)
          %th= t(:father_last_name)
          %th= t(:mother_last_name)
          %th= t(:email)
          %th= t(:status)
          %th= t(:actions)
      %tbody.tbody-border
        - @user.each do |user|
          %tr
            %td= user.id
            %td= user.name
            %td= user.father_last_name
            %td= user.mother_last_name
            %td= user.email
            %td
              - if user.locked_at?
                = "Locked"
              - else
                = "Unlocked"
            %td.btn-group
              %button.btn.btn-secondary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                Action
              %ul.dropdown-menu
                %li.dropdown-item
                  = link_to t(:show), user_path(user)
                %li.dropdown-item
                  = link_to t(:edit), edit_user_path(user)
                %li.dropdown-item
                  = link_to t(:delete), user_path(user),
                    method: :delete,
                    data: { confirm: '¿Eliminar?'}
                %li.dropdown-item
                  = link_to t(:masquerade_login), masquerade_path(user)
                - unless user == current_user
                  .dropdown-divider
                  %li.dropdown-item
                    %a.fa.fa-lock
                    = link_to t(:lock), lock_user_path(user), method: :post
                  %li.dropdown-item
                    %a.fa.fa-unlock
                    = link_to t(:unlock), unlock_user_path(user), method: :post

