.container
  .panel.panel-default

    %div
      %strong= t('registration')
    %div 
      = @user.id

    %div
      %strong= t('name')
    %div
      = @user.names

    %div
      %strong= t('father_last_name')
    %div
      = @user.father_last_name

    %div
      %strong= t('mother_last_name')
    %div
      = @user.mother_last_name

    %div
      %strong= t('email')
    %div
      = @user.email

    %div
      %strong= t('status')
    %div
      %strong= t('actions')

.btn.btn-default
  = link_to t('return'), users_path
