<div class="container">
  <div class="panel panel-default">
    <div><strong>Registro</strong></div>
    <div><%= @user.id %></div>

    <div><strong>Nombre(s)</strong></div>
    <div><%= @user.names %></div>

    <div><strong>Apellido Paterno</strong></div>
    <div><%= @user.father_last_name %></div>

    <div><strong>Apellido Materno</strong></div>
    <div><%= @user.mother_last_name %></div>

    <div><strong>E-mail</strong></div>
    <div><%= @user.email %></div>

    <div><strong>Estatus</strong></div>
    <div><strong>Acciones</strong></div>


  </div>
</div>

<div class="btn btn-default">
  <%= link_to 'Regresar', users_path %>
</div>