.container
  .panel.panel-default

    %div
      %strong= t(:registration)
    %div 
      = @user.id

    %div
      %strong= t(:name)
    %div
      = @user.name

    %div
      %strong= t(:father_last_name)
    %div
      = @user.father_last_name

    %div
      %strong= t(:mother_last_name)
    %div
      = @user.mother_last_name

    %div
      %strong= t(:email)
    %div
      = @user.email    
    
    %div
      %strong= t(:username)
    %div
      = @user.username

    %div
      %strong= t(:groups_assign)
    - @groups.each do |g|
      %div
        = g.name

    %div
      %strong= t(:status)
    %div
      %strong= t(:actions)

.btn.btn-default
  = link_to t(:return), users_path
