.row
  .col-12
    %ul.nav.nav-pills#v-pills-tab.mb-3{ role: "tablist", "aria-orientation" => "vertical" }
      %li.nav-item
        %a.nav-link.active{ id: "v-pills-bar-#{candidacy.id}-tab", "data-toggle" => "pill", href: "#v-pills-bar-#{candidacy.id}", role: "tab", "aria-controls" => "v-pills-bar-#{candidacy.id}", "aria-selected" => "true" } Barras
      %li.nav-item
        %a.nav-link{ "aria-controls" => "v-pills-details-#{candidacy.id}", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-details-#{candidacy.id}", :role => "tab", :id => "v-pills-details-#{candidacy.id}-tab" } Detalles


    #v-pills-tabContent.tab-content
      .tab-pane.fade.show.active{ "aria-labelledby" => "v-pills-bar-#{candidacy.id}-tab", :role => "tabpanel", id: "v-pills-bar-#{candidacy.id}"}
        = segment_bar_chart(candidacy )
      .tab-pane.fade{"aria-labelledby" => "v-pills-details-#{candidacy.id}-tab", :role => "tabpanel", :id => "v-pills-details-#{candidacy.id}"}
        .row
          - candidacy.candidates.each do |candidate|
            .col-12
              %span.badge.badge-info
                = candidate.political_candidacy.votes.sum(:votes_count)
                = fa_icon("address-card")
              = candidate.name
              