.row
  .col-12.pt-3.pb-2
    %h3.mb-0= @segment.name
  .col-12.separator

  .col-12
    %h5 Candidatos
  .col-12
    %ul#pills-tab.nav.nav-pills.mb-3{role: "tablist"}
      - @segment.candidacies.uniq.each do |candidacy|
        %li.nav-item.pr-4
          %a.nav-link.active{ id: "#pills-#{candidacy.name}-tab",  "aria-controls" => "pills-home", "aria-selected" => "true", "data-toggle" => "pill", href: "\#pills-#{candidacy.name}", role: "tab"}= candidacy.name
    - @segment.candidacies.uniq.each do |candidacy|
      #pills-tabContent.tab-content
        .tab-pane.fade.show.active{id: "#pills-#{candidacy.name}", "aria-labelledby" => "pills-#{candidacy.name}-tab", :role => "tabpanel"}
        - candidacy.candidates.for_segment(@segment).uniq.each do |candidate|
          .row
            .col
              %p.text-success= candidate.political_party.name
              %p.text-warning= candidate.name
