#segments-index.h-100
  #segments-index-actions.row.no-gutters
    = search_form_for @q, class: "col-8 col-md-10 col-lg-11 users-search-form" do |f|
      .input-group
        = f.search_field(:name_cont, class: "form-control", placeholder: t(:search), type: "text" )
        = button_tag class: 'btn btn-outline-secondary' do
          = fa_icon "search"
        .clearfix

    %a#action-dropdown-btn.btn.btn-primary.dropdown-toggle.col{ href: "#", "data-toggle" => "dropdown", "data-resource" => "segment", aria: { expanded: false, haspopup: true } }
      = t(:actions)

    .dropdown-menu.table-dropdown-menu{ "aria-labelledby" => "dropdownMenuLink" }
      = link_to new_transfer_user_path, class: "btn-green-dropdown-item btn-green" do
        = fa_icon('exchange')
        Transferir Usuarios
      = link_to segment_users_path(@segment), class: "btn-green-dropdown-item btn-green" do
        = fa_icon(:users)
        = t(:users)
      = link_to new_segment_representative_assignation_path(@segment), class: "btn-green-dropdown-item btn-green" do
        = fa_icon("address-book")
        Administradores
      = link_to new_segment_users_import_path(@segment), class: "btn-green-dropdown-item btn-green" do
        = fa_icon("upload")
        Importar Usuarios
      #hide-resource-mobile.btn-green.btn-green-dropdown-item.d-block.d-md-none
        = fa_icon("undo")
        = t(:back)

  #segments-index-content.container-fluid
    .row
      #segments-list.col-12.col-md-4.d-md-block.resource-list{ class: @segment ? "d-none" : "" }
        #segments-filters.row
          filtros
        #segments-pool.row
          #jstree-container
            = render @segments

      #segment-info.col-12.col-md-8.d-md-block.resource-info{ class: @segment ? "" : "d-none" }
        - if @segment
          = render 'segment_info'
        - else
          .row.align-items-center.h-100
            .col
              %h1.text-center= t(:select_one_or_more_elements)
