.container
  .panel.panel-default

    %div
      %strong= t(:name)
    %div 
      = @preference.id

    %div
      %strong= t(:description)
    %div 
      = @preference.description

    %div
      %strong= t(:default_values)
    %div 
      = @preference.default_values

    %div
      %strong= t(:encrypted)
    %div 
      = @preference.encrypted

    %div
      %strong= t(:field_type)
    %div 
      = @preference.field_type

.btn.btn-default
  = link_to t(:return), preferences_path