.overflow-scroll-container.h-100#reports-container
  .container-fluid.pt-2
    .row.bg-light
      .col
        %h3 Reportes
    .row.bg-light
      .col-12
        = form_for @reports_loader, url: reports_path, method: :get, class: "w-100" do |f|
          .row.pt-3.pb-3
            .col
              = f.select :base_segments, @reports_loader.base_segments_for_select, { selected: @reports_loader.base_segments.pluck(:id) }, id: "reports-segment-search", multiple: true
            .col-2
              = f.check_box :include_inner
              = f.label :include_inner, "Incluir subsecciones"
          .row.pt-3.pb-3
            .col-12.col-md-4
              %h4 Hora de Apertura
              = f.text_field :from_openning_time, class: "reports-timepicker", placeholder: "Desde"
              = f.text_field :to_openning_time, class: "reports-timepicker", placeholder: "Hasta"
            .col-12.col-md-4
              %h4 Hora de Cierre
              = f.text_field :from_closing_time, class: "reports-timepicker", placeholder: "Desde"
              = f.text_field :to_closing_time, class: "reports-timepicker", placeholder: "Hasta"
            .col-12.col-md-4
              %h4 Diferencia de votantes
              = f.number_field :votes_percent, min: 0, max: 99999, placeholder: "Diferencia"
              = fa_icon("percent")
              = f.check_box :greater_than
              = f.label :greater_than, "Diferencia hacia arriba"
          .row.mb-4
            .col
            .col-3
              = f.submit "Buscar", class: "btn btn-primary"


    .row.bg-light

      .col-12.mb-4.bg-white.border-bottom-light.border-top-light
        %h3.mt-2.mb-2 Casillas Abiertas

      .col-12.col-md-3.mb-4
        .card.gradient-card
          .card-header
            %h4.mb-0 Total
          %h1.text-center.report-counter.pt-3.pb-3.mb-0
            = @reports_loader.segments.try(:count) || 0

      .col-12.col-md-3.mb-4
        .card.gradient-card
          .card-header
            %h4.mb-0 Abiertas
          %h1.text-center.report-counter.pt-3.pb-3.mb-0
            = @reports_loader.open_segments.try(:count) || 0

      .col-12.col-md-3.mb-4
        .card.gradient-card
          .card-header
            %h4.mb-0 Cerradas
          %h1.text-center.report-counter.pt-3.pb-3.mb-0
            = @reports_loader.completed_segments.try(:count) || 0

      .col-12.mb-4
        .card.gradient-card
          .card-body
            %table.table.table-hover.table-responsive-sm
              %thead
                %tr
                  %th.text-center Nombre
                  %th.text-center Apertura
                  %th.text-center Cierre
                  %th.text-center Votantes
                  %th.text-center Esperado
                  %th.text-center Diferencia
              %tbody
                - if (@reports_loader.segments.try(:count) || 0 )> 0
                  - @reports_loader.segments.each do |segment|
                    %tr
                      %td.text-center
                        = link_to segment_path(segment) do
                          = fa_icon("sitemap")
                          = segment.name
                      %td.text-center{ class: report_text_class(segment.openning_time) }= segment.openning_time
                      %td.text-center{ class: report_text_class(segment.closing_time) }= segment.closing_time
                      %td.text-center= segment.nominal_count
                      %td.text-center{ class: report_text_class(segment.voters_count) }= segment.voters_count
                      %td.text-center{ class: percent_difference_color(segment) }
                        = segment.percent_difference
                        = fa_icon("percent")
                - else
                  %tr
                    %td{ colspan: 6 }
                      %h1.text-center.text-secondary No hay resultados con los filtros usados