#chat.fade.h-100.position-fixed.hide
  .row.h-100.position-relative
    #chat-menu.col-12
      %ul#chat-tabs.nav.nav-tabs.nav-fill{ role: "tablist" }
        %li.nav-item
          = link_to "#segment-messages-list", class: "nav-link active", id: "segment-messages-list-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "nav-segment-messages-list", "aria-selected" => "true" do
            = fa_icon('map')

        %li.nav-item
          = link_to "#user-messages-list", class: "nav-link", id: "user-messages-list-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "nav-user-messages-list", "aria-selected" => "false" do
            = fa_icon('users')
        %li.nav-item.pt-2
          .row
            .col-12
              %select#chat-search
        %li.nav-item
        %button.close.position-absolute{ "aria-label" => "Close" }
          %span{ "aria-hidden" => "true" }= fa_icon("angle-left")
    

    #chat-viewport.col-12
      .row.h-100
        #chat-viewport-scroll.col-12.tab-content

          #segment-messages-list.tab-pane.fade.show.active{ role: "tabpanel", "aria-labelledby" => "segment-messages-list-tab" }

          #user-messages-list.tab-pane.fade{ role: "tabpanel", "aria-labelledby" => "user-messages-list-tab" }


    #chat-writter.col-12.p-2.pr-4.pl-4
      %fieldset#form-fieldset
        = form_for :message, html: { class: "row h-100 no-gutter", id: "chat-form" }, authenticity_token: true do |f|
          .col-3.col-md-1
            = f.label :photo_evidence, id: "evidence-label", class: "btn btn-secondary w-100", for: "fileupload-evidence" do
              = fa_icon("camera")
            = f.file_field :photo_evidence, accept: "image/*;cpature=camera", class: "d-none", id: "fileupload-evidence"
          .col-6.col-md-10
            = f.text_field :message, class: "form-control w-100 h-100", placeholder: "Escribe un comentario...", id: "message-text"
          .col-3.col-md-1
            = button_tag :class => "btn-primary w-100 h-100" do
              = fa_icon("paper-plane")