#header-container.container-fluid
  #header-row.row
    .header-element-container.col-md-2
      .element-flex-box
        - if current_user
          = link_to "#", class: "btn btn-secondary menu-button" do
            %i.fa.fa-bars.fa-2x.menu-icon

    .header-element-container.col-md-7
      .element-flex-box
        SEARCH BAR
    .header-element-container.col-md-3
      - if current_user
        #session-links-container.element-flex-box.height-100
          = link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "session-link"
          = link_to "#", class: "session-link" do
            = image_tag "user.gif", class: "rounded user-avatar"
      - else
        #session-links-container.element-flex-box
          = link_to "Iniciar Sesión", "#", class: "session-link"
