#header-container.container-fluid
  #header-row.row
    .header-element-container.col-md-2
      .element-flex-box
        - if current_user
          = link_to "#", class: "btn btn-secondary menu-button ", id: "open-hide" do
            %i.fa.fa-bars.fa-2x.menu-icon

    .header-element-container.col-md-6
      .element-flex-box
        SEARCH BAR
    .header-element-container.col-md-4
      - if current_user
        #session-links-container.element-flex-box.height-100
          = current_user.full_name
          = link_to "#", class: "session-link", id: "right-sidebar-switch" do
            = image_tag "user.gif", class: "rounded user-avatar"
      - else
        #session-links-container.element-flex-box
          = link_to "Iniciar Sesión", "#", class: "session-link"
