#left-sidebar-content.d-flex.flex-column
  = left_sidebar_link(t(:profile), user_path(current_user), "user-circle")

  = left_sidebar_link(t(:dashboard), root_path, "dashboard")
  = left_sidebar_link(t(:users), users_path , "users")
  = left_sidebar_link(t(:catalogs), procedure_catalogs_path , "book")

  .mt-auto.d-flex.flex-column
    = left_sidebar_link(t(:sign_out), destroy_user_session_path, "sign-out", wrapper_options: { class: "sidebar-bottom-link" })
