#left-sidebar-content.d-flex.flex-column
  = left_sidebar_link(t(:profile), edit_profile_path(current_user), "user-circle", wrapper_options: { class: "profile-row"})

  = left_sidebar_link(t(:dashboard), root_path, "dashboard")
  = #left_sidebar_link(t(:catalogs), procedure_catalogs_path , "book")
  - if root_segment
    - if can? :manage, root_segment
      = left_sidebar_link(t(:users), root_segment_users_route, "users")
      = left_sidebar_link(t(:segments), root_segments_route, "map")
    = left_sidebar_link(t(:capture), prep_capture_process_route, "pencil")

  .mt-auto.d-flex.flex-column
    = left_sidebar_link(t(:sign_out), logout_path(current_user), "sign-out", wrapper_options: { class: "sidebar-bottom-link" }, method: :delete)
