!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1.0"}
    %title 
      PVPrep
      = controller_name
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  -if current_user && user_masquerade?
    %nav#masquerade
      .masquerade-message
        = t('masquerade_message', fullname: current_user.full_name)
        = link_to t(:reverse_masquerade_link), back_masquerade_path(current_user)
        %a.fa.fa-times

  %body{ "data-signin" => devise_controller? ? "true" : "false" }
    - if user_signed_in? && current_user.accepted_disclaimer?
      = render "/layouts/chat"

    #body-container
      - if user_signed_in?
        = render "/layouts/header"
        - if !current_user.only_common?
          #left-sidebar.sidebar-container
            = render "/layouts/left_sidebar"
      %div{ id: body_id, class: body_classes }
        = render "/layouts/flash_messages"
        = yield

      - if user_signed_in? && current_user.accepted_disclaimer?
        %span#open-messages-button.d-none.d-md-block.pl-2.bg-primary.hide
          = fa_icon("comment")
          %span.messages_count 0
         
    #myModal.image-modal
      / The Close Button
      %span.modal-close ×
      / Modal Content (The Image)
      %img#modal-image.image-modal-content/
      / Modal Caption (Image Text)
      #caption
    

