!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1.0"}
    %title PVPrep
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  -if user_masquerade?
    %nav#masquerade
      .masquerade-message
        = t('masquerade_message', fullname: current_user.full_name)
        = link_to t(:reverse_masquerade_link), back_masquerade_path(current_user)
        %a.fa.fa-times

  %body
    = render "/layouts/flash_messages"
    #body-container
      - if user_signed_in?
        = render "/layouts/header"
        #left-sidebar.sidebar-container
          = render "/layouts/left_sidebar"
      %div{ id: user_signed_in? ? "content-with-menu" : "content" }
        = yield
        
