!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Notarias
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  -if user_masquerade?
    %nav#masquerade
      .masquerade-message
        = t('masquerade_message', fullname: current_user.full_name)
        = link_to t(:reverse_masquerade_link), back_masquerade_path(current_user)
        %a.fa.fa-times

  %body
    = render "/layouts/header"
    = render "/layouts/flash_messages"
    #body-container
      - if user_signed_in?
        #left-sidebar.sidebar-container
          = render "/layouts/left_sidebar"
      #content
        = yield
      - if user_signed_in?
        #right-sidebar.sidebar-container
          = render "/layouts/right_sidebar"

