!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Notarias
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "/layouts/header"
    = render "/layouts/flash_messages"
    #body-container
      - if user_signed_in?
        #left-sidebar.sidebar-container
          = render "/layouts/left_sidebar"
      #content
        = yield
      - if user_signed_in?
        #right-sidebar.sidebar-container
          = render "/layouts/right_sidebar"

